*{
    margin: 0px;
    padding: 0px;
}

.wrapper{
    margin-left:30%;
    margin-top:5%;
    position: fixed;
    height: 80%;
    width: 30%;
    background-color: #c7c3c3;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#top{
    height: 7%;
    color: white;
    font-size: 25px;
    text-align: center;
    padding: 5px;
    border-bottom: 3px rgb(27, 6, 105) solid;
    background-color: cadetblue;

}
#bottom div{
    width: 80%;
    margin: 30px auto;
}
#bottom button{
    width: 20%;
    height: 3%;
    cursor: pointer;
    
}